# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# ENTORNOS VIRTUALES
# =========================
venv/
env/
.venv/
conda_env/
torch_env/

# =========================
# STREAMLIT
# =========================
.streamlit/secrets.toml

# =========================
# JUPYTER
# =========================
.ipynb_checkpoints

# =========================
# MODELOS ML
# =========================
*.pkl
*.joblib
*.model
*.sav

# =========================
# DATASETS
# =========================
data/
datasets/
*.csv
*.xlsx

# =========================
# LOGS
# =========================
*.log

# =========================
# SISTEMA
# =========================
.DS_Store
Thumbs.dbpy

# =========================
# VSCODE
# =========================
.vscode/
